<li id="blog-<%= blog.id %>">
  <%= link_to gravatar_for(blog.user, size: 50), blog.user %>
  <span class="user"><%= link_to blog.user.name, blog.user %></span>
  <span class="content">
    <%= blog.title %>
    <%= blog.content %>
    <%#= image_tag({blog.images.each do |img| img.photo.url end} if blog.images?) %>
    <% if blog.images.any? %>
      <div class="image-container">
        <% blog.images.each do |img| %>
          <%= image_tag image.url %>
        <% end %>
      </div>
    <% end %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(blog.created_at) %> ago.
    <% if current_user?(blog.user) %>
      <%= link_to "delete", blog, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>